.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    /* Behind content but visible */
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

/* Generate random positions and animations for snowflakes */
.snowflake:nth-child(1) {
    left: 10%;
    width: 5px;
    height: 5px;
    animation: snowfall 10s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(2) {
    left: 20%;
    width: 3px;
    height: 3px;
    animation: snowfall 12s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(3) {
    left: 30%;
    width: 7px;
    height: 7px;
    animation: snowfall 8s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(4) {
    left: 40%;
    width: 4px;
    height: 4px;
    animation: snowfall 15s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(5) {
    left: 50%;
    width: 6px;
    height: 6px;
    animation: snowfall 11s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(6) {
    left: 60%;
    width: 3px;
    height: 3px;
    animation: snowfall 13s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(7) {
    left: 70%;
    width: 5px;
    height: 5px;
    animation: snowfall 9s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(8) {
    left: 80%;
    width: 4px;
    height: 4px;
    animation: snowfall 14s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(9) {
    left: 90%;
    width: 6px;
    height: 6px;
    animation: snowfall 10s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(10) {
    left: 5%;
    width: 3px;
    height: 3px;
    animation: snowfall 16s linear infinite;
    animation-delay: 6s;
}

.snowflake:nth-child(11) {
    left: 15%;
    width: 5px;
    height: 5px;
    animation: snowfall 12s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(12) {
    left: 25%;
    width: 4px;
    height: 4px;
    animation: snowfall 9s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(13) {
    left: 35%;
    width: 6px;
    height: 6px;
    animation: snowfall 14s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(14) {
    left: 45%;
    width: 3px;
    height: 3px;
    animation: snowfall 11s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(15) {
    left: 55%;
    width: 5px;
    height: 5px;
    animation: snowfall 13s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(16) {
    left: 65%;
    width: 4px;
    height: 4px;
    animation: snowfall 10s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(17) {
    left: 75%;
    width: 6px;
    height: 6px;
    animation: snowfall 15s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(18) {
    left: 85%;
    width: 3px;
    height: 3px;
    animation: snowfall 12s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(19) {
    left: 95%;
    width: 5px;
    height: 5px;
    animation: snowfall 9s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(20) {
    left: 2%;
    width: 4px;
    height: 4px;
    animation: snowfall 14s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(21) {
    left: 12%;
    width: 6px;
    height: 6px;
    animation: snowfall 11s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(22) {
    left: 32%;
    width: 3px;
    height: 3px;
    animation: snowfall 13s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(23) {
    left: 52%;
    width: 5px;
    height: 5px;
    animation: snowfall 10s linear infinite;
    animation-delay: 6s;
}

.snowflake:nth-child(24) {
    left: 72%;
    width: 4px;
    height: 4px;
    animation: snowfall 15s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(25) {
    left: 92%;
    width: 6px;
    height: 6px;
    animation: snowfall 12s linear infinite;
    animation-delay: 5s;
}


/* ... previous keyframes ... */
.snowflake:nth-child(26) {
    left: 8%;
    width: 4px;
    height: 4px;
    animation: snowfall 13s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(27) {
    left: 18%;
    width: 6px;
    height: 6px;
    animation: snowfall 10s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(28) {
    left: 28%;
    width: 3px;
    height: 3px;
    animation: snowfall 15s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(29) {
    left: 38%;
    width: 5px;
    height: 5px;
    animation: snowfall 12s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(30) {
    left: 48%;
    width: 4px;
    height: 4px;
    animation: snowfall 9s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(31) {
    left: 58%;
    width: 6px;
    height: 6px;
    animation: snowfall 14s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(32) {
    left: 68%;
    width: 3px;
    height: 3px;
    animation: snowfall 11s linear infinite;
    animation-delay: 6s;
}

.snowflake:nth-child(33) {
    left: 78%;
    width: 5px;
    height: 5px;
    animation: snowfall 13s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(34) {
    left: 88%;
    width: 4px;
    height: 4px;
    animation: snowfall 10s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(35) {
    left: 98%;
    width: 6px;
    height: 6px;
    animation: snowfall 15s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(36) {
    left: 4%;
    width: 3px;
    height: 3px;
    animation: snowfall 12s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(37) {
    left: 14%;
    width: 5px;
    height: 5px;
    animation: snowfall 9s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(38) {
    left: 24%;
    width: 4px;
    height: 4px;
    animation: snowfall 14s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(39) {
    left: 34%;
    width: 6px;
    height: 6px;
    animation: snowfall 11s linear infinite;
    animation-delay: 6s;
}

.snowflake:nth-child(40) {
    left: 44%;
    width: 3px;
    height: 3px;
    animation: snowfall 13s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(41) {
    left: 54%;
    width: 5px;
    height: 5px;
    animation: snowfall 10s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(42) {
    left: 64%;
    width: 4px;
    height: 4px;
    animation: snowfall 15s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(43) {
    left: 74%;
    width: 6px;
    height: 6px;
    animation: snowfall 12s linear infinite;
    animation-delay: 0s;
}

.snowflake:nth-child(44) {
    left: 84%;
    width: 3px;
    height: 3px;
    animation: snowfall 9s linear infinite;
    animation-delay: 2s;
}

.snowflake:nth-child(45) {
    left: 94%;
    width: 5px;
    height: 5px;
    animation: snowfall 14s linear infinite;
    animation-delay: 4s;
}

.snowflake:nth-child(46) {
    left: 1%;
    width: 4px;
    height: 4px;
    animation: snowfall 11s linear infinite;
    animation-delay: 6s;
}

.snowflake:nth-child(47) {
    left: 11%;
    width: 6px;
    height: 6px;
    animation: snowfall 13s linear infinite;
    animation-delay: 1s;
}

.snowflake:nth-child(48) {
    left: 21%;
    width: 3px;
    height: 3px;
    animation: snowfall 10s linear infinite;
    animation-delay: 3s;
}

.snowflake:nth-child(49) {
    left: 31%;
    width: 5px;
    height: 5px;
    animation: snowfall 15s linear infinite;
    animation-delay: 5s;
}

.snowflake:nth-child(50) {
    left: 41%;
    width: 4px;
    height: 4px;
    animation: snowfall 12s linear infinite;
    animation-delay: 0s;
}

@keyframes snowfall {
    0% {
        transform: translateY(-10px) translateX(0);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50vh) translateX(20px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(100vh) translateX(-20px);
        opacity: 0.2;
    }
}